/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require swagger-ui
 *= require_tree .
 *= require_self
 */

 .login-box {
  margin: 100px auto;
  display: block;
  text-align: center;
  height: 300px;
  font-family: Arial;
  font-size: 14px;
  width: 284px;
  box-shadow: 3px 3px 3px 3px #c6c6c6c6;
  border-radius: 5px;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-box h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 10px;
}

.login-box input[type='submit'] {
  background: #FF6C00 none repeat scroll 0% 0%;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
  padding: 5px 30px;
  text-decoration: none;
  margin: 10px auto;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.login-box label {
  font-size: 12px;
  margin: 10px 0 30px 0;
  color: #c6c6c6;
}

.login-box input[type='email'], input[type='password'], input[type='text'] {
  margin-bottom: 5px;
  width: 100%;
  color: #443b3b;
  border: none;
  border-bottom: 2px solid #efeeee;
  outline: none;
  font-size: 12px;
}

.login-box .alert {
  background: rgba(249, 41, 41, 0.3) none repeat scroll 0% 0%;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.swagger-ui-wrap.header {
    padding: 20px 0 0 0;
}

.swagger-ui-wrap.header img {
    float: left;
}

.swagger-ui-wrap.header p {
    width: 83%;
    float: left;
    position: relative;
    padding-top: 22px;
    font-size: 20px;
    color: #333333;
}

.swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading {
    background-color: #fff;
    border: 1px solid #ccc;
}

.swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path a {
    color: #333333;
}

.swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li a {
    color: #ff5909;
}

.swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.http_method a {
    background-color: #ff5909;
}

.swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content {
    background-color: #f1ede8;
    border: 1px solid #ccc;
}
