<html>
  <head>
    <%= javascript_include_tag :application %>
    <%= stylesheet_link_tag :application %>
  </head>
  <body>
    <div class="swagger-ui-wrap header">
      <p>DWH API</p>
    </div>
    <%=  yield %>
  </body>
</html>
